/* ============= GLOBAL CSS =============== */

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
} /*16px*/

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}
.header {
  width: 100%;
  padding: 1rem;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-toggle {
  width: 2rem;
  height: 2rem;
}
.nav-toggle svg {
  font-size: 1rem;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1rem;

  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.links li {
  transition: all 1s ease-in-out;
}
.links a {
  padding: 0.25rem 1rem;
}
.links a:hover {
  color: rgb(6, 62, 174);
}
.hide-links {
  height: 0;
  background-color: yellow;
  overflow: hidden;
  padding: 0rem;
}
.show-links {
  background-color: orangered;
  height: auto;
  padding: 0.25rem;
}
